.nav {
  display: flex;
  padding: 0 1rem;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  font-family: ProximaNova-Regular;
  font-size: 16px;
  color: #0B2127;
  letter-spacing: 0.4px;
  line-height: 20px;
  height: 100%;
}

.active {
  border-bottom: 3px solid #F65335;
}

.nav-item {
  margin: 0 1rem;
  padding: 1rem 0;
}